body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/Content/bg-old.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

    *::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn, .btn:visited, .btn active {
    outline: none !important;
}

.navbar, h1, h2, h3, h4, h5, h6, p, label, input, div, label {
    font-family: 'Roboto', sans-serif !important;
}

code {
    font-family: monospace !important;
}

.navbar {
    border: 0px solid #f0f0f0;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 0px 0px 20% 0px;
}

.form-group > label, .form-group > input, button {
    font-size: 18px !important;
}

.navbar a {
    font-size: 22px;
    color: #f0f0f0;
    text-shadow: 0px 0px 0px #c55;
}

.body-content {
    margin-top: 30px;
}

pre, code {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    min-height: 300px;
    min-width: 300px;
    font-size: 22px;
    margin: auto;
    max-width: 10000px;
    width: 100% !important;
}

.margin-top-10 {
    margin-top: 10px;
}

.jumbotron {
    text-align: center;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px #f0f0f0;
}

    .jumbotron p {
        font-size: 26px;
    }

.navbar {
    background-image: linear-gradient(90deg, rgba(67,67,67,1) 0%, rgba(50,50,50,1) 35%, rgba(82,82,82,1) 100%);
    border-bottom: 1px solid rgba(210, 80, 80, 0.3);
    box-shadow: 1px 2px 4px rgba(210, 80, 80, 0.3);
}

.inline {
    display: inline;
}

.text-div {
    font-size: 20px;
    background-color: #fff;
    background-image: linear-gradient(180deg, #fff 0%, #fefefe 50%, #fcfcfc 90%);
    padding: 20px;
    margin: 10px 2px 20px 2px;
    box-shadow: 5px 6px 10px -5px rgba(0,0,0,0.2);
    border: 1px solid #cc555520;
    border-radius: 10px;
}

    .text-div a, .text-div a:hover, .text-div a:active, .text-div a:visited {
        color: inherit;
        transition: all 0.2s;
    }

        .text-div a:hover {
            font-weight: 700;
            text-decoration: none;
        }



p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff !important;
    text-align: center;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 5px 6px 5px 5px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(0,0,0,0.2);
}

.bottom-padding {
    height: 200px;
}

.navbar a.active {
    font-weight: 700;
    color: #f0f0f0 !important;
}

h1 {
    overflow: visible;
}

input, select, textarea {
    max-width: 1200px;
}

.smallFont {
    font-size: 11px !important;
}

.jumbotron h1 a i {
    overflow: visible;
    color: #aaaaaa;
    font-size: 20px;
}


/*input[type=range]*/
input[type=range] {
    overflow: visible;
    height: 30px;
    -webkit-appearance: none;
    padding: 1px;
}

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 2px #000000;
        background: #aaaaaa;
        border-radius: 5px;
        border: 0px solid #000000;
    }

    input[type=range]::-webkit-slider-thumb {
        border: 1px solid rgba(0,0,0,0.2);
        height: 30px;
        width: 30px;
        border-radius: 15px;
        background: #787878;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -10px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #aaaaaa;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 2px #000000;
        background: #aaaaaa;
        border-radius: 1px;
        border: 0px solid #000000;
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #aaaaaa;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #787878;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: #aaaaaa;
        border: 0px solid #000000;
        border-radius: 2px;
        box-shadow: 0px 0px 0px #000000;
    }

    input[type=range]::-ms-fill-upper {
        background: #aaaaaa;
        border: 0px solid #000000;
        border-radius: 2px;
        box-shadow: 0px 0px 0px #000000;
    }

    input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #aaaaaa;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #787878;
        cursor: pointer;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: #aaaaaa;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #aaaaaa;
    }


    /*mobile css*/

@media (max-width: 479px) {
    footer p {
        margin-top: 5px;
        font-size: 13px;
    }

    .jumbotron img {
        display: none;
    }

    .form-group .btn {
        margin-top: 10px;
    }

    pre, code {
        min-height: 200px;
        min-width: 200px;
        width: 100% !important;
    }
}