<style>
    .margin-bottom-10 {
        margin-bottom: 10px;
    }

    input.error {
        border: 1px solid red;
    }

    .form-group > label {
        font-size: 14px !important;
    }

    #error {
        color: #bb5588;
        margin-top: 10px;
    }

    #initialSquareDiv {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .margin-left-10 {
        margin-left: 10px;
    }

    #squareInput {
        margin-bottom: 10px;
        font-family: monospace;
        font-size: 20px;
    }

    #tripletsDiv {
        width: 100% !important;
        min-height: 250px;
        overflow: auto;
        margin-bottom: 10px;
    }

        #tripletsDiv div:first-child code {
            font-size: 14px !important;
            white-space: nowrap;
            overflow-x: scroll;
            text-align: left;
        }
</style>
<div class="jumbotron">
    <h1>PLR Investigation <a href="/home/documentation/#non-trivial"><i class="glyphicon glyphicon-question-sign"></i></a></h1>
    <p>investigate a PLR, see if it's guilty.</p>
</div>
<div class="row text-div">
    <div class="col-xs-12">
        <h2>The rectangle</h2>
        <label>Click 'PLR' to generate a rectangle, 'Edit' to edit it, and 'Go' to start the investigation. Good luck!</label>
        <hr />
    </div>
    <div class="col-xs-12 col-md-6">
        <div id="initialSquareDiv"><pre>your PLR will appear here</pre></div>
        <button class="btn btn-primary btn-lg pull-left" id="randomSquareBtn">PLR</button>
        <button class="btn btn-success btn-lg pull-left margin-left-10" id="editBtn">Edit</button>
        <button class="btn btn-info btn-lg pull-left margin-left-10" id="goBtn">Go</button>
    </div>
    <div class="col-xs-12 col-md-6">
        <div><textarea rows="5" class="form-control hidden" id="squareInput"></textarea></div>
    </div>
</div>
<div class="row text-div hidden" id="detailsDiv">
    <div class="col-md-12 col-xs-12">
        <br />
        <br />
        <div class="hidden" id="tripletsRow">
            <h2>Strong Entry Invariant</h2>
            <label>we're counting non empty cells in rows, columns, and no. of symbols in the whole PLR, into these triplets, which allow us to extract an ER with which we can further investigate. </label>
            <hr />
            <div id="tripletsDiv"></div>
            <button class="hidden btn btn-primary btn-lg pull-left" id="tripletsIncreaseFontSize"><i class="glyphicon glyphicon-plus"></i></button>
            <button class="hidden btn btn-default btn-lg pull-right" id="tripletsDecreaseFontSize"><i class="glyphicon glyphicon-minus"></i></button>
        </div>
        <br />
        <div class="hidden" id="ERRow">
            <h2>Basic Partitions</h2>
            <label>We're calculating partitions from the strong entry invariant matrix by counting non-empty indices in row and column and number of symbols in matrix<br /> </label>
            <hr />
            <div id="ERDiv"></div>
            <button class="btn btn-success btn-lg" style="margin-top: 20px !important;" id="refineN">refine partition</button>
            <button class="btn btn-success btn-lg" style="margin-top: 20px !important;" id="backN">back</button>
        </div>
    </div>
    <div class="col-md-12 col-xs-12" style="height: 50px;"></div>
    <div class="col-md-12 col-xs-12">
        <div class="hidden" id="comparisonMatrix">
            <h2>Comparison Matrices</h2>
            <label>For each two rows, cols and symbols, we check for isomorphism, and display those isomorphisms in a matrix.<br /> </label>
            <hr />
            <div id="comparisonMatrixDiv"></div>
            <button class="btn btn-primary btn-lg" style="margin-top: 20px !important;" id="refineG">refine partition</button>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var investigationObj;

            $("#randomSquareBtn").click(function () {
                $.ajax({
                    url: "/api/GetNonTrivialRectangles?howMany=1", //"/api/GetFullRectangle?rows=" + 5 + "&cols=" + 5 + "&symbols=" + 5 + "&count=" + 23, //
                    type: "get",
                    success: function (data) {
                        $("#initialSquareDiv").html("<pre><code>" + data + "</code></pre>");
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

            $("#squareInput").on("input", function (e) {
                let val = $("#squareInput").val();
                val = val.replaceAll("] [", "]\n[");
                $("#initialSquareDiv").html("<pre><code>" + val + "</code></pre>");
            });

            $("#editBtn").click(function () {
                let val = $("#initialSquareDiv").text();
                $("#squareInput").val(val);
                $("#squareInput").attr('rows', val.split("[").length);
                $("#squareInput").toggleClass("hidden");
            });

            var partitionsNIndex = 0;
            function drawPartitionsN() {
                if (partitionsNIndex >= investigationObj.partitionsN.length) return;
                $("#ERDiv").html("<pre><code>" + "rows: " + investigationObj.partitionsN[partitionsNIndex]["rows"] +
                    "\ncolumns: " + investigationObj.partitionsN[partitionsNIndex]["cols"] +
                    "\nsymbols: " + investigationObj.partitionsN[partitionsNIndex]["symbols"] + "</code></pre>");
                $("#tripletsDiv").html("<div>" + investigationObj.triplets[partitionsNIndex] + "</div><div style='margin-top:10px;' id='indexedTripletsDiv'>"
                    + investigationObj.indexedTriplets + "</div>");
            }
            function drawPartitionsG() {
                $("#comparisonMatrixDiv").html("<b>rows</b>" + investigationObj.comparisonMatrixRows + "<b>cols</b>" +
                    investigationObj.comparisonMatrixCols + "<b>symbols</b>" +
                    investigationObj.comparisonMatrixSymbols + "<br />" +
                    "<pre><code>" + "rows: " + investigationObj.partitionsG["rows"] +
                    "\ncolumns: " + investigationObj.partitionsG["cols"] +
                    "\nsymbols: " + investigationObj.partitionsG["symbols"] + "</code></pre>");
            }

            $("#goBtn").click(function () {
                $("#tripletsRow, #detailsDiv").removeClass("hidden");
                let squareString = $("#initialSquareDiv").text();
                $("#ERRow").removeClass("hidden");
                $("#comparisonMatrix").removeClass("hidden");
                $.ajax({
                    url: "/api/GetInvestigationObjectForRectangle?&squareString=" + squareString,
                    type: "get",
                    success: function (data) {
                        investigationObj = JSON.parse(data);
                        drawPartitionsN();
                        drawPartitionsG();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });

                /* $.ajax({
                     url: "/api/GetAtp?&squareString=" + squareString,
                     type: "get",
                     success: function (data) {
                         console.log(data);
                         $("#ERDiv").html("<pre><code>" + data.replaceAll(";", "<br/>") + "</code></pre>");
                     },
                     error: function (err) {
                         console.log(err);
                     }
                 });*/

            });


            $("#tripletsIncreaseFontSize").click(function () {
                var fontSize = parseInt($("#tripletsDiv").find("code").css("font-size"));
                fontSize = fontSize + 1 + "px";
                $("#tripletsDiv").find("code").css({ 'font-size': fontSize });
            });

            $("#tripletsDecreaseFontSize").click(function () {
                var fontSize = parseInt($("#tripletsDiv").find("code").css("font-size"));
                fontSize = fontSize - 1 + "px";
                $("#tripletsDiv").find("code").css({ 'font-size': fontSize });
            });

            function indexThatContains(e, stringArr) {
                for (index = 0; index < stringArr.length; index++) {
                    if (stringArr[index].includes(e)) return index + 1;
                }
                return -1;
            }

            $("#refineN").click(function () {
                if (partitionsNIndex < investigationObj.partitionsN.length - 1)
                    partitionsNIndex++;
                drawPartitionsN();
            });

            $("#backN").click(function () {
                if (partitionsNIndex > 0)
                    partitionsNIndex--;
                drawPartitionsN();
            });

            let r = getUrlParameter("r");
            if (r) {
                r = Base64.decode(r);
                $("#initialSquareDiv").html(r);
                $("#goBtn").click();
            }

        });
    </script>
}





